# /etc/containers/systemd/dinp.container
# Defines the Docker-in-Podman (DinP) service.

# cSpell:ignore pids devpts rslave

[Unit]
Description=Docker-in-Podman Service

[Container]
# --- Image and Naming ---
Image=ghcr.io/heavenvolkoff/dinp:latest
Network=dualstack.network
HostName=dinp.%H
AutoUpdate=registry
ContainerName=dinp

# --- Resource Management ---
Memory=%i
PidsLimit=0

# --- Privileges & Security ---
User=root
Ulimit=host
PidsLimit=-1
StopSignal=SIGINT
StopTimeout=120
# Equivalent to --security-opt=seccomp=unconfined
SeccompProfile=unconfined
# Equivalent to --security-opt=label=disable
SecurityLabelDisable=true

# ---- Exec Commands ----
Exec=%u %U %g %G %h

# --- Volumes & Mounts ---
Volume=dinp.volume:/var/lib/docker:z
Volume=/tmp:/tmp:rslave
Volume=/sys/fs/selinux:/sys/fs/selinux
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/locale.conf:/etc/locale.conf:ro
Volume=%h:%h:rslave
Mount=type=devpts,gid=5,mode=0620,destination=/dev/pts

# --- Networking ---
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=2377:2377/tcp
PublishPort=7946:7946/tcp
PublishPort=7946:7946/udp
PublishPort=4789:4789/udp

# --- Health Check ---
HealthOnFailure=kill
HealthCmd=/usr/bin/docker info

# --- Additional Settings ---
PodmanArgs=--privileged
PodmanArgs=--security-opt=apparmor=unconfined
PodmanArgs=--systemd=always

[Service]
Restart=on-failure
ExecStop=/usr/bin/podman exec dinp /sbin/poweroff
TimeoutStopSec=120
SuccessExitStatus=129 130
RestartPreventExitStatus=129 130

[Install]
# Allows the service to be enabled to start on system boot.
WantedBy=multi-user.target
