[Unit]
Description=socat SSH proxy from port 80 to 22
After=network.target sshd.service
Wants=sshd.service
ConditionPathExists=!/etc/ssh/no_ssh_setup_proxy

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP6-LISTEN:80,fork,reuseaddr TCP:localhost:22
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
