services:
  shoko:
    image: docker.io/shokoanime/server:daily@sha256:e19a379bec29e7acc8f78cc7b745ce21bd0bf131a7967b808cd38023c8307d2e
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1G
        reservations:
          memory: 200M
    volumes:
      - ${MEDIA_DIR:?Missing media dir}:/media/Animes:/media/Animes
      - ${ROOT_DIR:?Missing root dir}/runtime/shoko:/home/shoko/.shoko
    hostname: shoko-{{.Service.ID}}
    environment:
      AVDUMP_MONO: "true"
