services:
  shoko:
    image: docker.io/shokoanime/server:daily@sha256:1bd590bac99b3e12881ba63f8d03cc294deb1ea9fa702852c0ad61f1b675e099
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1G
        reservations:
          memory: 200M
    volumes:
      - ${MEDIA_DIR:?Missing media dir}:/media/Animes:/media/Animes
      - ${ROOT_DIR:?Missing root dir}/runtime/shoko:/home/shoko/.shoko
    hostname: shoko-{{.Service.ID}}
    environment:
      AVDUMP_MONO: "true"
