services:
  shoko:
    image: docker.io/shokoanime/server:daily@sha256:c74007b202d5b86e1043d04113b60d92931334cfdba9bbbf300a49ef4d3a831d
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1G
        reservations:
          memory: 200M
    volumes:
      - ${MEDIA_DIR:?Missing media dir}:/media/Animes:/media/Animes
      - ${ROOT_DIR:?Missing root dir}/runtime/shoko:/home/shoko/.shoko
    hostname: shoko-{{.Service.ID}}
    environment:
      AVDUMP_MONO: "true"
