services:
  shoko:
    image: docker.io/shokoanime/server:daily@sha256:31eed83a7085cb9dcf472fadc9f207a634c6240503eb89f3d5c58d8c5fd60586
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1G
        reservations:
          memory: 200M
    volumes:
      - ${MEDIA_DIR:?Missing media dir}:/media/Animes:/media/Animes
      - ${ROOT_DIR:?Missing root dir}/runtime/shoko:/home/shoko/.shoko
    hostname: shoko-{{.Service.ID}}
    environment:
      AVDUMP_MONO: "true"
